<header class="header">
  <div class="header__container">
    
    <figure class="header__logo">
      <img
        src="../../../assets/img/Nexcent155x24.png"
        alt="logo"
        height="24"
        width="155"
        title="nexcent"
      />
    </figure>
  
    <ul class="header__links">
      <li><a href="">Home</a></li>
      <li><a href="">Service</a></li>
      <li><a href="">Feature</a></li>
      <li><a href="">Product</a></li>
      <li><a href="">Testimonial</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
  
    <section class="header__sign">
      <button type="button" title="Login Button">Login</button>
      <button type="button" title="Sign Up Button">Sign Up</button>
    </section>
  </div>
  
</header>
