.hero {
  padding-inline: var(--PADDING-INLINE);
  background-color: var(--NEUTRAL-SILVER);
}

.hero__container{
 max-width: var(--MAX-WIDTH);
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 padding-block: 96px;
 margin-inline: auto;
}

.hero__heading {
  max-width: 757px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.hero__heading h1 {
  font-size: var(--FS-HEADLINE-1);
  color: var(--D-GRAY);
}

.hero__heading h1 span {
  color: var(--PRIMARY-COLOR);
}

.hero__heading p {
  font-size: var(--FS-BODY-2);
  color: var(--D-GRAY);
}

.hero__heading button {
  padding: 15px 30px;
  border: none;
  font-size: var(--FS-BODY-3);
  color: var(--WHITE);
  background-color: var(--PRIMARY-COLOR);
  border-radius: 5px;
}
/* END OF HERO */

.client{
  padding-inline: var(--PADDING-INLINE);
  padding-block: 40px;
}

.client__container{
  max-width: var(--MAX-WIDTH);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.client__heading{
  display: grid;
  place-items: center;
  gap: 20px;
}

.client__heading h2{
  font-size: var(--FS-HEADLINE-3);
  color: var(--D-GRAY);
  font-weight: 900;
}

.client__heading p{
  font-size: var(--FS-BODY-4);
  color: var(--D-GRAY);
}

.client__logo{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding-block: 40px;
}

.client__sub-heading{
  margin-top: 40px;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  gap: 10px;
}

.client__sub-heading h2{
  font-size: var(--FS-HEADLINE-3);
  color: var(--D-GRAY);
}

.client__sub-heading p{
  font-size: var(--FS-BODY-4);
  color: var(--D-GRAY);
}

.client__cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  justify-content: space-evenly;
  height:max-content;
  max-width: 300px;
  min-height:300px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card i{
  position: relative;
  height: 50px;
  width: 50px;

}

.card h3{
  font-size: var(--FS-HEADLINE-4);
  color: var(--D-GRAY);
  text-align: center;
}

.card p{
  font-size: var(--FS-BODY-4);
  text-align: center;
  color: var(--GRAY);
}

.card i::after{
  content: "";
  position: absolute;

  top: 10%;
  left: 30%;
  bottom: -10%;
  right: -30%;
  z-index: -1;
  background-color: var(--P-TINT-4);
  border-top-left-radius:5px ;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 15px;
  opacity: 0.8;
}

/* MIDDLE */
.middle{
  padding-inline: var(--PADDING-INLINE);
  padding-block: 40px;
}

.middle__container{
 
  max-width: var(--MAX-WIDTH);
  margin-inline: auto;

 
}

.middle__learn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.middle__container figure {
  padding: 20px;
}

.middle__container figure img{
  width: 442px;
  height: auto;
}

.learn__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
}

.learn__info h2{
  font-size: var(--FS-HEADLINE-3);
  color: var(--D-GRAY);
}

.learn__info p{
  font-size: var(--FS-BODY-4);
  color: var(--D-GRAY);
}

.default-button{
  align-self: self-start;
  margin-top: 15px;
}

.middle__numbers{
  padding-block: 40px;
  display: flex;
  flex-direction: row;
  max-width: var(--MAX-WIDTH);
  justify-content: space-between;
}

.numbers__heading{
align-self: center;
}

.numbers__heading h2{
  font-size: var(--FS-HEADLINE-2);
  font-weight: 600;
  color: var(--D-GRAY);
}

.numbers__heading :nth-child(2){
  color: var(--PRIMARY-COLOR);
}

.numbers__heading p{
  font-size: var(--FS-BODY-2);
  color:var(--GRAY)
}

.numbers__info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  width: 540px;
}

.ninfo__container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.ninfo__container svg{
  height: 50px;
  width: 50px;
}

.info p{
  color: var(--D-GRAY);
  font-size: var(--FS-HEADLINE-4);
  font-weight: 700;
}

.info :last-child{
  font-size: var(--FS-BODY-3);
  font-weight: 400;
}